.actHover{
    background-color: #DCDCDC
}
.actClick{
    background-color: #ffffb3
}
.dataEnt{
    background-color:	#F5F5F5
}
.dataDer{
    background-color: #ccffcc
}

.dataDerB{
    background-color: #275021;
    color: white
}
